TS_TELEMETRY_CHANNEL_ID=1234567
TS_TELEMETRY_READ_KEY=YOUR_TELEMETRY_READ_KEY
TS_TELEMETRY_WRITE_KEY=YOUR_TELEMETRY_WRITE_KEY

TS_CONTROL_CHANNEL_ID=7654321
TS_CONTROL_READ_KEY=YOUR_CONTROL_READ_KEY
TS_COMMAND_WRITE_KEY=YOUR_CONTROL_WRITE_KEY